Repository ValentinDumas/ci_opengl_template: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

ignore:
  - "deps/*"
#
#coverage:
#  status:
#    project:
#      default: off
#      unit:
#        flags: unit
#      integration:
#        flags: integration
#




flags:
  # filters the folder(s) you wish to measure by that flag
  unit:
    # only include files in the "unit" folder
    paths:
      - tests/unit/
  integration:
    paths:
      - tests/integration

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      unit:
        target: auto
        threshold: 0.1%
        flags: unit
      integration:
        target: auto
        threshold: 0.1%
        flags: integration
    patch: yes
    changes: no

fix: force static builds on MSVC
  CMakeLists.txt
  deps/externals/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

check project working well
  CMakeLists.txt
Due: none

set libraries as static when they require performance
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
Due: none

wip: test coverage not failing when linking 3rd party dependencies
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/test_unit_main.cpp
Due: unit

wip: test coverage not failing when linking ALL 3rd party dependencies
  CMakeLists.txt
  deps/externals/imgui-1.68/CMakeLists.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
Due: integration

Remove wrong and unused CopyAssets line for Debug VisualStudio
  CMakeLists.txt
  src/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

Automatic dependency registration: Expose external, test and project dependency concepts
  CMakeLists.txt
  deps/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/test_complex.cpp
  tests/unit/test_robot.cpp
  tests/unit/test_unit_main.cpp
Due: unit, integration

Automatic dependency registration: expose properties for dependencies
  CMakeLists.txt
  deps/CMakeLists.txt
  tests/unit/test_robot.cpp
Due: unit

Automatic dependency registration: expose properties for dependencies
  tests/unit/test_robot.cpp
Due: unit

Can pass unit/integration dependencies to created tests && Remove glfw/glad from tests
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/test_unit_main.cpp
Due: unit, integration

Can specify a folder when Creating a test
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

[Testing] Specify a folder when creating a test
  tests/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/complex/test_complex.cpp
Due: unit

[Testing] Specify a folder when creating a test
  tests/integration/CMakeLists.txt
Due: integration

Enhanced cmake features && refactor source_modules
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  deps/externals/assimp/code/Importer/IFC/IFCBoolean.cpp
  src/CMakeLists.txt
  src/mathematics/CMakeLists.txt
  src/mathematics/complex.cpp
  src/mathematics/complex.hpp
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/mathematics/test_complex.cpp
Due: unit, integration

Can easily create a library (static and shared)
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  src/CMakeLists.txt
  src/mathematics/CMakeLists.txt
Due: none

Can easily create a library (static and shared)
  CMakeLists.txt
Due: none

Semi-auto registration of static/shared/interface libraries into the project
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  src/CMakeLists.txt
  src/mathematics/CMakeLists.txt
Due: none

AddCustomLibrary function && Remove unused GLFW/GLAD libraries
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  deps/externals/imgui-1.68/CMakeLists.txt
  src/CMakeLists.txt
  src/mathematics/CMakeLists.txt
Due: none

AddCustomLibrary function && Remove unused GLFW/GLAD libraries (2)
  src/CMakeLists.txt
  src/mathematics/CMakeLists.txt
Due: none

fix: orrect includes from module "mathematics" after refactor
  CMakeLists.txt
  assets/images/cpp_unix_libraries.JPG
  deps/externals/imgui-1.68/CMakeLists.txt
  deps/externals/imgui-1.68/include/imgui/imconfig.h
  deps/externals/imgui-1.68/include/imgui/imgui.h
  deps/externals/imgui-1.68/include/imgui/imgui_impl_glfw.h
  deps/externals/imgui-1.68/include/imgui/imgui_impl_opengl3.h
  deps/externals/imgui-1.68/include/imgui/imgui_internal.h
  deps/externals/imgui-1.68/include/imgui/imstb_rectpack.h
  deps/externals/imgui-1.68/include/imgui/imstb_textedit.h
  deps/externals/imgui-1.68/include/imgui/imstb_truetype.h
  examples/CMakeLists.txt
  examples/opengl3_assimp/CMakeLists.txt
  examples/opengl3_box2D/CMakeLists.txt
  examples/opengl3_imgui/CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
  src/mathematics/CMakeLists.txt
  src/mathematics/complex.cpp
  src/mathematics/include/mathematics/complex.hpp
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/integration/test_integration_main.cpp
  tests/unit/CMakeLists.txt
  tests/unit/mathematics/CMakeLists.txt
  tests/unit/mathematics/test_complex.cpp
  tests/unit/test_unit_main.cpp
Due: unit, integration

fix: correct mathematics includes
  tests/unit/mathematics/test_complex.cpp
Due: unit

fix: correct includes again
  src/CMakeLists.txt
  src/mathematics/include/mathematics/complex.hpp
Due: none

fix: correct includes again
  src/mathematics/complex.cpp
Due: none

fix: correct includes (module "mathematics")
  src/imgui_main.cpp
  src/mathematics/complex.cpp
  tests/integration/test_integration_main.cpp
Due: integration

fix: correct includes (module "mathematics") by including subfolder parent folder
  CMakeLists.txt
  src/imgui_main.cpp
Due: none

fix: correct includes (module "mathematics")
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/mathematics/test_complex.cpp
  tests/unit/test_robot.cpp
  tests/unit/test_unit_main.cpp
Due: unit

wip: (tests folder) automatic source file detection
  assets/images/library_public_shared_interfaces.JPG
  tests/unit/CMakeLists.txt
Due: unit

(tests folder) automatic source file detection
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

Move some functions to upper architecture level
  CMakeLists.txt
Due: none

fix: missing library dependencies for some target
  .codecov.yml
  .doxygen.txt
  .gitignore
  CMakeLists.txt
  README.md
  externals/CMakeLists.txt
  externals/imgui-1.68/CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
  tests/CMakeLists.txt
Due: none

fix: missing library dependencies for some target
  tests/CMakeLists.txt
Due: none

fix: missing library dependencies for some target
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

XCode entry in .gitignore && More file patterns processed by Doxygen
  .doxygen.txt
  .gitignore
Due: none

add SFML library to main project
  externals/CMakeLists.txt
Due: none

fix: missing SFML dependencies on Unix systems
  .travis.yml
  externals/CMakeLists.txt
  src/CMakeLists.txt
Due: none
