Repository ValentinDumas/ci_opengl_template: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

ignore:
  - "deps/*"
#
#coverage:
#  status:
#    project:
#      default: off
#      unit:
#        flags: unit
#      integration:
#        flags: integration
#




flags:
  # filters the folder(s) you wish to measure by that flag
  unit:
    # only include files in the "unit" folder
    paths:
      - tests/unit/
  integration:
    paths:
      - tests/integration

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      unit:
        target: auto
        threshold: 0.1%
        flags: unit
      integration:
        target: auto
        threshold: 0.1%
        flags: integration
    patch: yes
    changes: no

wip fix: only main target exe is exposed
  .gitignore
  CMakeLists.txt
  assets/CMakeLists.txt
  deps/externals/imgui-1.68/CMakeLists.txt
  src/CMakeLists.txt
Due: none

fix: exe built if standalone and building activated
  CMakeLists.txt
Due: none

add quick box2d testing sample
  src/imgui_main.cpp
Due: none

add quick box2d testing sample
  CMakeLists.txt
Due: none

can build standalone executable while being able to do Continuous Integration online
  .travis.yml
  CMakeLists.txt
  deps/externals/CMakeLists.txt
Due: none

Can generate a standalone executable
  CMakeLists.txt
  assets/CMakeLists.txt
Due: none

Can generate a standalone executable
  README.md
Due: none

Add cmake function to copy assets, with standalone and online behaviours
  CMakeLists.txt
  assets/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Improved assets loading logic for STANDALONE/ONLINE scenarios
  CMakeLists.txt
  assets/CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
Due: none

wip fix: assets loading logic for STANDALONE/ONLINE scenarios
  CMakeLists.txt
  assets/CMakeLists.txt
Due: none

wip: assets loading logic for STANDALONE/ONLINE scenarios
  assets/CMakeLists.txt
Due: none

wip: Sound Engine with OpenAL and libsndfile
  CMakeLists.txt
  src/imgui_main.cpp
Due: none

cross-platform project (without audio lib, yet)
  CMakeLists.txt
Due: none

Reworked standalone/online installation processes
  CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

Reworked standalone/online installation processes
  CMakeLists.txt
Due: none

Can copy assets and dlls to target
  CMakeLists.txt
  assets/CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  deps/externals/cppfs/CMakeLists.txt
  src/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

Assimp ? (static)
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  deps/externals/assimp/CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
Due: none

Assimp as dynamic lib
  CMakeLists.txt
  assets/CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
Due: none

assimp (dynamic library) without options failing on linux/maxOs
  src/CMakeLists.txt
Due: none

assimp (dynamic library) without options failing on linux/maxOs
  src/CMakeLists.txt
  src/imgui_main.cpp
Due: none

wip: msvc building with dynamic libraries
  CMakeLists.txt
  src/CMakeLists.txt
  src/imgui_main.cpp
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

msvc building with dynamic libraries + update readMe
  README.md
  deps/externals/CMakeLists.txt
  src/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

msvc building with dynamic libraries + update readMe
  deps/CMakeLists.txt
Due: none

msvc building with dynamic libraries + update readMe
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

Each test is executed and detailed
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit, integration

Check if test coverage is accurate by "completing Complex.abs()" test
  tests/unit/test_complex.cpp
Due: unit

Global property to register project modules names
  CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
Due: integration

Googletest working as a static AND as a shared library
  CMakeLists.txt
  assets/CMakeLists.txt
  deps/CMakeLists.txt
  deps/externals/CMakeLists.txt
  deps/externals/googletest/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: unit

msvc building with shared libraries (cmake) set at ON
  CMakeLists.txt
Due: none

msvc building with shared libraries (cmake) set at ON
  CMakeLists.txt
  assets/images/shared_exports_dll_cmake.JPG
  deps/externals/CMakeLists.txt
  src/CMakeLists.txt
Due: none
